# Byte-compiled / optimized / DLL files
__pycache__/
/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# emacs tilde files
*~

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# SageMath parsed files
*.sage.py

# dotenv
.env
.venv
env/
venv/

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Django
*.log
*.pot
*.pyc
__pycache__/
media/
*.sqlite3

# Environments
env/
venv/
.env/
.venv/

# Node files
node_modules/
package-lock.json
package.json