{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Registration Form{% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-8 offset-lg-2">
            <div class="bg-black text-white p-3">
                <img src="{% static 'images/logo-01.png' %}" alt="Manifest Fellowship Kenya Logo" class="img-fluid" width="100">
                <h1 class="font-weight-bold text-center mb-0">REGISTRATION FORM</h1>
            </div>
            <div class="bg-white p-4">
                <p class="text-center mb-4">
                    This is an online registration form for members who are attending the
                    Physical Livestream Centre for Manifest Kenya, Nairobi.
                </p>

                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}

                    <!-- Name Section -->
                    <div class="form-group">
                        <label class="font-weight-bold">Name</label>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>
                    </div>

                    <!-- Gender Section -->
                    <div class="form-group">
                        <label class="font-weight-bold">Gender</label>
                        <div>
                            {% for radio in form.gender %}
                                <div class="form-check form-check-inline">
                                    {{ radio.tag }}
                                    <label class="form-check-label" for="{{ radio.id_for_label }}">
                                        {{ radio.choice_label }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        
                    </div>

                    <!-- Phone Section -->
                    <div class="form-group">
                        <label class="font-weight-bold">Phone Number</label>
                        {{ form.phone_number|as_crispy_field }}
                    </div>

                    <!-- Residence -->
                    <div class="form-group">
                        <label class="font-weight-bold">Residence</label>
                        {{ form.residence|as_crispy_field }}
                    </div>

                    <!-- Student Status -->
                    <div class="form-group">
                        <label class="font-weight-bold">Are you a Student?</label>
                        <div>
                            {% for radio in form.is_student %}
                                <div class="form-check form-check-inline">
                                    {{ radio.tag }}
                                    <label class="form-check-label" for="{{ radio.id_for_label }}">
                                        {{ radio.choice_label }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <!-- Additional fields, hidden initially -->
                    <div id="studentFields" style="display: none;">
                        <div class="form-group">
                            <label class="font-weight-bold">Name of Institution</label>
                            {{ form.institution_name|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Location of Institution</label>
                            {{ form.institution_location|as_crispy_field }}
                        </div>
                    </div>

                    <!-- Occupation -->
                    <div id="occupationField">
                        <div class="form-group">
                            <label class="font-weight-bold">Occupation</label>
                            {{ form.occupation|as_crispy_field }}
                        </div>
                    </div>
                    
                    <!-- First Timer -->
                    <div class="form-group">
                        <label class="font-weight-bold">Is this your first time?</label>
                            <div>
                                {% for radio in form.is_first_time %}
                                    <div class="form-check form-check-inline">
                                        {{ radio.tag }}
                                        <label class="form-check-label" for="{{ radio.id_for_label }}">
                                            {{ radio.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        <small class="form-text text-muted">Please indicate whether it’s your first time attending the physical livestream.</small>
                    </div>

                    <!-- Data Protection Notice & Consent -->
                    <div class="form-group">
                        <h5 class="font-weight-bold">DATA PROTECTION NOTICE</h5>
                        <p>
                            Manifest Fellowship would like to hold and use the information you have provided in this form for the purposes set out below:
                        </p>
                        <ol>
                            <li>To keep you informed of events, services, and other related communication from the ministry.</li>
                            <li>To share your contact details with our teams for experience sharing with the ministry.</li>
                            <li>To use your photograph(s) and video(s) taken during any of our events on our communication materials.</li>
                        </ol>
                        <div class="form-group">
                            <label class="font-weight-bold">
                                I CONSENT to Manifest Kenya holding and using my information and contacting me for the above purposes.
                            </label>
                                <div>
                                    {% for radio in form.consent %}
                                        <div class="form-check form-check-inline">
                                            {{ radio.tag }}
                                            <label class="form-check-label" for="{{ radio.id_for_label }}">
                                                {{ radio.choice_label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-lg">SUBMIT</button>
                    </div>
                </form>
            </div>
            <div class="bg-black text-white p-3 text-center">
                <p class="mb-0">
                    &copy; 2024 Manifest Fellowship Kenya. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'scripts/form_handler.js' %}"></script>

{% endblock %}
